<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="SPA" stopProcessing="true">
                    <match url=".*" />
                    <action type="Rewrite" url="/ngBlog/" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
	<httpErrors errorMode="Custom" existingResponse="Replace">
    		<remove statusCode="404" subStatusCode="-1" />
    		<error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
	</httpErrors>
    </system.webServer>
</configuration>